<div class="jumbotron">
  <div class="home__container">
    <a class="btn btn-success home__button" ui-sref="article">Add Article</a>

    <div ng-repeat="article in home.articles" class="home__item-container">
      <h3>{{article.title}}</h3>
      <p>{{article.content}}</p>

      <a class="btn btn-success home__button" ui-sref="articleEdit({id: article.id, article: article})">Edit Article</a>
    </div>


    
<!-- 
    <pagination ng-model="home.currentPage" total-items="home.articles.length" max-size="home.maxSize"
      boundary-links="true">
    </pagination> -->
  </div>
</div>